<mat-tab-group animationDuration="1000ms">
    <mat-tab label="Event">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Today's Event
                </mat-panel-title>
                <mat-panel-description>
                    See Your Today's Event
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource1">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="startdate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="enddate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> End Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="repeat">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                            <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Location </th>
                            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                        </ng-container>
                        
                        
                            <!-- <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> Delete </th>
                                <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                                </td>
                            </ng-container> -->
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Upcoming Event
                </mat-panel-title>
                <mat-panel-description>
                    See Your Upcoming Event
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource2">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="startdate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="enddate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> End Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="repeat">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                            <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Location </th>
                            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                        </ng-container>
                        
                        
                            <!-- <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> Delete </th>
                                <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                                </td>
                            </ng-container> -->
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Old Event
                </mat-panel-title>
                <mat-panel-description>
                    See Your Old Event
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource3">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="startdate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="enddate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> End Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="repeat">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                            <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Location </th>
                            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                        </ng-container>
                        
                        
                            <!-- <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> Delete </th>
                                <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                                </td>
                            </ng-container> -->
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-tab>
    <mat-tab label="Reminder">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Today's Reminder
                </mat-panel-title>
                <mat-panel-description>
                    See Your Today's Reminder
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource4">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="startdate">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="repeat">
                            <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                            <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                        
                            <!-- <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> Delete </th>
                                <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                                </td>
                            </ng-container> -->
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Upcoming Reminder
                </mat-panel-title>
                <mat-panel-description>
                    See Your Upcoming Reminder
                </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource5">
                        <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="startdate">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="repeat">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                        <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                    
                        <!-- <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> Delete </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container> -->
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Old Reminder
                    </mat-panel-title>
                    <mat-panel-description>
                        See Your Old Reminder
                    </mat-panel-description>
                </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataSource6">
                        <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="startdate">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Category </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="repeat">
                        <th mat-header-cell *matHeaderCellDef style="font-size: 17px"> Repeat </th>
                        <td mat-cell *matCellDef="let element"> {{element.repeat}} </td>
                        </ng-container>
                    
                    
                        <!-- <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> Delete </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                    <mat-icon class="mat-18">delete</mat-icon>
                                </button>
                            </td>
                        </ng-container> -->
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 25]" style="font-size: 16px"></mat-paginator>
            </mat-expansion-panel>
        
        </mat-accordion>
            
    </mat-tab>
</mat-tab-group>

